@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class= "display-4"> My Guitar Life is so Cool</h1>
    <hr />
        <p>
            I love playing the guitar. But my secret is that I only love it the most when I 
            can play super loud! Thats why i didnt bring my electric to college its too loud to play inside.
            Other than that I just like to have an excuse to sing really loud so the guitar is helpful. I learn
            some indie, some rock, and some folk indie songs. I even learned a couple bossa nova chord progressions.

        </p>
        <p>
            Hmm, what else. I think recently I discovered how fun it is to jam with my friends. I am borrowing Connor's bass guitar
            so we can jam like that. Isaac came over and we had some fun jamming out. It was lit. I would love to be in a band, but im not good enough
            that someone would invite me to one, so i better start my own.
        </p>
    <div class="row mt-5">
        <div class="col-md-6">
            <img src="~/images/theguitarpic.jpg" class="img-fluid rounded shadow" alt="Acoustic Guitar" />
            <p class="text-muted mt-2">this is what kinda my guitar looks like .</p>
        </div>
        <div class="col-md-6"> 
            <img src="~/images/Guitar_hero.jpg" class="img-fluid rounded shadow" alt="Electric Guitar hero" />
            <p class="text-muted mt-2">This is the best guitar game ever.</p>
        </div>
    </div>
    <div class="text-center mt-5 mb-5">
        <a asp-controller="Home" asp-action="Calculator" class="btn btn-lg btn-success">
            Book a guitar lesson from me
        </a>
    </div>
</div>